# Python
*.pyc
*.pyo
__pycache__/

# Virtual environments
.venv/
env/
venv/

# Flask instance folder
instance/

# Flask application config
*.cfg
*.ini

# Logs
*.log

# SQLite database
*.db
*.sqlite

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS system files
.DS_Store

# Linux system files
*.swp
